@import "../../../assets/Css/Font.css";

.navbar {
  position: relative;
  z-index: 100;
  box-shadow: 0 0px 8px #c3c3c395;
}

.logo {
  font-size: 64px;
  font-family: "DimaFantesy";
  display: flex;
  align-items: start;
  text-shadow: 0px 0px 4px #7a7a7a67;
}
.nav-font {
  font-size: 14px;
  font-family: Estedad Medium;
}

.search-container{
  flex: 1;
  max-width: 650px;
}
.search-box-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  transition: width 0.3s ease;
}

.search-box {
  flex-grow: 1;
  height: 44px;
  border-radius: 10px;
  padding-right: 2.5rem;
  font-family: 'Estedad Light', sans-serif;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: #f0f0f1;
  box-shadow: none;
}

.search-box:focus {
  cursor: text;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #999;
  pointer-events: none;
}

.login-register-btn{
    border-radius: 10px;
    font-family: Estedad Medium;
    background-color: #FF7CA8;
    border: 3px solid #6E3E3E;
    gap: 8px;
}

.login-register-btn:hover{
    background-color: #eb6692;
    border: 3px solid #5e2f2f;

}

.cart-btn{
    background-color: transparent;
    border: none;
    color: #444444;
}

.cart-btn:hover{
    background-color: transparent;
    color: #444444;
}