/* src/features/home/HomeCategories.css */
.home-categories-container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px; /* فاصله بین آیتم‌ها */
  justify-content: center;
  margin: 20px 0;
}

.home-category-item {
  font-family: Estedad Regular;
  width: 160px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bold;
  text-align: center;
  border-radius: 16px;
  cursor: pointer;
  transition: transform 0.2s;
  box-shadow: 0 0 4px rgba(66, 66, 66, 0.1);
  gap: 15px;
}

.home-category-item:hover {
  transform: scale(1.05);
  color: black;
}


.home-category-title {
  font-size: 16px;
}
@media (max-width: 992px) {
  .home-categories-container {
    gap: 28px;
  }
  .home-category-item {
    width: 140px;
    height: 140px;
  }
  .home-category-title {
    font-size: 14px;
  }
  .home-category-icon {
    width: 52px;
  }
}
