body, html, #root {
  background: #fff;
  margin: 0;  
}

.mainLayout {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 60px);
  background: #fff;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pageContent {
  flex: 1;
  padding: 32px 24px 24px 24px;
  background: #fff;
  min-height: 0;
}

@import url('./assets/Css/Font.css');

body {
  font-family: 'Estedad', sans-serif;
}
