.social-email {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 17px;
}
.social-icons {
  display: flex;
  gap: 15px;
}

.text-social-email {
  font-size: 16px;
  font-family: Estedad Medium;
}

.form-email {
  font-size: 14px;
  font-family: Estedad Regular;
}

.email-form-input {
  background-color: #f2f2f2;
  border: none;
  height: 50px;
  width: 280px;
  border-radius: 18px;
  padding-right: 20px;
}
.email-submit-btn {
  position: absolute;
  border-radius: 16px;
  background-color: #fff;
  border: none;
  width: 70px;
  height: 35px;
  margin-left: 10px;
}
@media (max-width: 576px) {
  .text-social-email {
    font-size: 14px;
  }
}